doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/main.css')
	body
		include ./header.jade
		block content
		include ./footer.jade
		include ./navigation.jade