/**
 * HEADER
 */

header.main-header{
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	height: 60px;
	background: #fafafa;
	z-index: 9999;
	a.navigation{
		width: 40px;
		position: absolute;
		top: 20px;
		right: 20px;
		display: block;
		span{
			width: 100%;
			margin-bottom: 8px;
			height: 4px;
			background: black;
			display: block;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}